<footer class="footer">
  <div class="container">
    Made by <a href="https://twitter.com/lichtblau" style="color: #F81894" target="_blank">Marius</a> and <a href="https://github.com/bisbaldi" style="color: #F81894" target="_blank">Annika</a> |
    Code on <a href="https://github.com/mlichtblau/kraggl" style="color: #F81894" target="_blank">Github</a> |
    <a href="/privacy" target="_blank">Privacy Policy</a> |
    <a href="/imprint" target="_blank">Impressum</a>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
