<% Object.entries(messages).forEach(function ([key, value]){
  switch(key){
    case 'error': %>
<div class="alert alert-danger alert-dismissible" role="alert">
  <% break;
    case 'success': %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <% break;
    case 'info': %>
    <div class="alert alert-secondary alert-dismissible" role="alert">
      <% break;
    default: %>
      <div class="alert alert-dark alert-dismissible" role="alert">
        <% break;
  }%>
        <%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%});%>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">
          <img src="../images/kragglLogo.svg" width="100" height="auto" alt="Kraggl">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/toggl" class="nav-link">Toggl Key</a>
            </li>
            <li class="nav-item">
              <a href="/boards" class="nav-link">Boards</a>
            </li>
          </ul>
          <form id="logout-form" action="/logout" method="post">
            <a onclick="document.getElementById('logout-form').submit();" class="nav-link">Logout</a>
          </form>
        </div>
      </nav>
      
