body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #0C0D38;
  color: #CDECF4;
  text-align: center;
}

em{
  color: #F81880;
  font-style: normal;
}

.card{
  background: transparent;
  box-shadow: 0px 0px 40px 10px #F81894;
}

/* === Index === */

.index{
  margin-top: 50px;
}



.table-card{
  margin-bottom: 50px;
  margin-top: 50px;
}

.table-responsive{
  background: transparent;
}

.btn-danger{
  background-color: #F81870;
  border: none;
}

.btn-danger:hover{
  background-color: #F81894;}



.navbar-brand {
    position: absolute;
    left: 10px;
    top: 0px;
}

.navbar{
  margin-bottom: 50px;
}

.nav-item{
  color: #CDECF4;
}

.setup{
  margin-top: auto;
}

.content{
  margin-top: 110px;
}

.table{
  color: #CDECF4;
  background: transparent;
}

a{
  color: #CDECF4;
}

a:hover{
  text-decoration: none;
  color: #8ed4e6;
}

.modal-content{
  color: #0C0D38;
  text-align: left;
}

h2{
  margin-bottom: 30px;
}

tr{
  white-space: nowrap;
}

tbody tr th, thead tr th:first-child{
  text-align:left;
}

h3{
  margin-top: 20px;
  margin-bottom: 20px;
}




@media (max-width: 576px) {
  .kraggl{
    width: 300px;
    height: auto;
  }
}

@media (max-width: 768px) {
.kraggl{
  padding-top: 50px;
  width: 200px;
  height:auto;
  }}
