<!doctype html>
<html lang="en">

<head>
  <%- include ../partials/head.ejs %>
  <title>Kraggl - Toggl</title>
</head>

<body>
  <%- include ../partials/header.ejs %>

  <div class="container toggl-container">
    <div class="row align-items-center">

      <div class="col-md-4 d-none d-lg-block">
        <div class="card">
          <div class="card-body">
            <p class="card-text">Hi <em><%= user.username %></em>!<br>
              You successfully connected to your GitKraken Account.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4 order-12"><img src="/images/kraggl.svg" class="img-fluid kraggl" alt="Responsive image"></div>

      <div class="col order-md-12">
        <div class="card">
          <div class="card-body">
            <p class="card-text"> The next step is to connect <em>Kraggl</em> to your Toggl account.</p>
            <form action="/toggl" method="post">
              <div class="input-group mb-3">
                <input name="togglApiKey" type="text" class="form-control" placeholder="Toggl API Token" aria-label="Toggl API Token">
                <div class="input-group-append">
                  <button type="submit" name="button" class="btn btn-primary">Connect</button>
                </div>
              </div>
            </form>
            <small>Your Toggl API Token can be found on your Toggl profile page. Go to <a href="https://toggl.com/app/profile">toggl.com/app/profile</a>and scroll all the way down to copy your token.</small>
          </div>
        </div>
      </div>

    </div>
  </div>
  <%- include ../partials/footer.ejs %>
</body>

</html>
